.original-btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: #07bc0c;
}
.btn-success:hover {
  background-color: #3e8e41;
}
.btn-warning {
  background-color: #f1c40f;
}
.btn-warning:hover {
  background-color: #d3ac0f;
}
.btn-error {
  background-color: #e74c3c;
}
.btn-error:hover {
  background-color: #b32a1b;
}

.btn-info {
  background-color: #3498db;
}
.btn-info:hover {
  background-color: #2374aa;
}
